<IfModule mod_rewrite.c>
    #Options +FollowSymlinks
    RewriteEngine On

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule (.*)$ ./index.php?request=$1 [QSA,NC,L]
</IfModule>